<div class="jumbotron center">
<h1>Welcome to my app!</h1>
<br>
<p><%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %> <%= link_to "Log In", "http://www.simpankira.com", class:"btn btn-primary btn-lg" %> </p>

</div>